<% if recipes.any? %>
  <ul id="recipes" class="grid grid-cols-1 md:grid-cols-4 gap-5 cursor-pointer">
    <% recipes.each do |recipe| %>
      <li class="col-span-1 b -white w-64 rounded overflow-hidden shadow-lg" data-controller="recipe" data-recipe-hidden-class="hidden">
        <div data-recipe-target="description" data-action="click->recipe#toggle">
          <%= image_tag(recipe.image, class: "w-64 h-48 object-cover shadow-sm", alt: recipe.title) %>
          <div class="px-6 py-4">
            <h3 class="font-semibold line-clamp-2"><%= recipe.title %></h3>
            <div class="rating-stars mb-2" style="--rating: <%= recipe.ratings %>"></div>
            <p class="text-sm text-gray-500">By <%= recipe.author %></p>
          </div>
        </div>
        <div class="px-6 py-4 hidden" data-recipe-target="ingredients" data-action="click->recipe#toggle">
          <h3 class="font-semibold mb-2 underline">Ingredients:<h3>
          <ul class="list-disc text-sm">
            <% recipe.ingredients.each do |ingredient| %>
              <li>
                <div>
                  <%= ingredient %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes found.</p>
<% end %>
